@model MyElearningProject.DAL.Entites.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2> Kategori Güncelleme Sayfası</h2>

<form method="post">
    <label>Kategori ID</label>
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    <br /><br />
    <label>Kategori Adını Giriniz</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br /><br />
    <label>Kategori Resmini Giriniz</label>
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-primary">Kategoriyi Kaydet</button>
</form>